*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

header{
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div{
  display: flex;
  gap: 15px;
}

header a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}