.container{
    width: 600px;
    display: flex;
    flex-direction: column;
}

.interacoes{
    margin-top: 15px;
}

input, textarea{
    margin-bottom: 10px;
    margin-top: 3px;
}

li{
    margin-bottom: 10px;
}

li button{
    margin-top: 5px;
}